POSTGRES_ADDRESS=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mt
MQTT_ADDRESS=mqtt://mqtt
MQTT_CLIENTID=mt-stats
DEFAULT_STATS_GATEWAYID=!da65a048
DEFAULT_VOLTAGE_ID=4201166220